body {
  margin: 0;
  min-width: 1200px;
  font-family: "Work Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #151c22;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.default-btn {
  min-width: 200px;
  background-color: #151C22;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 23px 24px;
  text-align: center;
  display: inline-block;
  transition: 0.3s background-color, 0.3s transform;
  border: 0;
}

.default-btn:hover {
  background-color: rgb(34, 32, 33);
  transform: scale(1.03);
}

.main-section {
  padding-top: 65px;
  padding-bottom: 54px;
}