.catalog-list {
    display: flex;    
    align-items: center;
    flex-wrap: wrap;
    gap: 66px;
    margin-bottom: 60px;

      &--min-gap {
          gap: 28px;
      }

      &__item {        
          margin-bottom: 20px;           
      }

      &__img {
          overflow: hidden;
          
          img {
              transition: 0.2s transform;

              &:hover {
                  transform: scale(1.1);
              }
          }
      }

      &__link {
        color: #151C22;
      }

      &-title {
          padding-bottom: 10px;
          margin-top: 20px;
      }   
}
.basic {        
    background:#F1F2F4;
    margin-bottom: 130px;

        &-list {
         display: flex;
        justify-content: center;
        align-items: center;
         gap: 40px;
        } 

        &-title {    
            font-family: "Work Sans";                                    
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            width: 272px;
        }
        
        &-img {
            display: block;
            position: relative;
            z-index: 10;
    
            &-column {
                position: relative;
                padding: 0 30px;
    
                &::before {
                    content: "";
                    display: block;
                    width: 232px;
                    height: 176px;
                    background-image: url("/img/diogonal.png");
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 5;
                    background-size: cover;
                }
    
                &::after {
                    content: "";
                    display: block;
                    width: 178px;
                    height: 135px;
                    background-image: url("/img/smallsize.png");
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 5;
                    background-size: cover;                
                }
    
            }
    
        }
}
 
 .breadcrumbs {
    display: flex; 
    padding-bottom: 15px;

        &-link {
            font-family: "Work Sans";
            color: #727A82;
            transition: 0.3s opacity;

            &:hover {
                opacity: 0.7;
            }
        }

        

        &-item {
            display: flex;
            align-items: center;            

            &-item--current {
                color : #151C22;
            }

            &::after {
                content: "/";                
                display: block;
                margin: 0 10px;
                color: #727A82;
            }

            &:last-child::after {
                display: none;
            }
        }
}

.item-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

        &-line {
            width: 200px;
            height: 2px;
            background-color: #E5E5E5;
            margin-top: 10px;            
        }
    
        &-fill {
            height: 100%;
            display: block;
            background-color: black;
            width: 10%;
        }
        
        .default-btn {
            margin: 40px 0 130px;
        }
} 