.main-news {
  
  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__diagonal {
    padding-right: 70px;
    display: flex;
    align-items: center;
    height: 462px;
    background-image: url("../img/main-news-diagonal.png");
  }

  &__article {
    background-color: #F1F2F4;
    padding: 50px 47px 28px 43px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #151C22;
    margin-bottom: 27px;
  }

  &__date {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
  }

  &__text {
    margin-bottom: 24px;
    padding-right: 17px;
    line-height: 24px;
    font-size: 18px;
    color: #727A82;
  }
}

